name: Docker Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        
        - name: Show repository files
          run: ls -la


        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3



        - name: Build Docker image
          run: docker build -t hellopython .
