name: ETL Pipeline workflow

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 2 * * *"

jobs:
  run-etl:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: etl_project  

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        working-directory: etl_project
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run ETL script
        run: python ETL_job.py

      - name: Run tests
        run: pytest tests/
